<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="myForm">
    <label for="deptName">Department Name:</label>
    <input type="text" id="deptName" name="deptName" required>

    <button type="button" onclick="sendRequest('PUT')">Изменить</button>
</form>

<script>
    function sendRequest(method) {
        var formData = new FormData(document.getElementById('myForm'));
        var xhr = new XMLHttpRequest();
        const id = (parseInt(window.location.pathname.slice(6)))
        var url = 'http://localhost:8080/api/dept/'+ id + '/edit';

        xhr.open(method, url, true);

        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 300) {
                console.log('Request successful!');
                console.log(xhr.responseText);
            } else {
                console.error('Request failed with status:', xhr.status);
            }
        };

        xhr.onerror = function () {
            console.error('Request failed');
        };

        xhr.send(formData);
        alert("Department edited")
    }
</script>
</body>
</html>